* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Add styles here! */
header {
  border-bottom: 8px solid hsla(0, 0%, 60%, 1);
}

.intro-chunk {
  max-width: 800px;
  margin-bottom: 64px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 24px;
}

.intro-chunk > p {
  font-size: 1.25rem;
  max-width: 415px;
}

.intro-chunk > .title {
  margin-top: 92px;
  margin-bottom: 48px;
}

header strong {
  color: hsla(160, 100%, 30%, 1);
}

main {
  background-color: hsla(0, 0%, 40%, 1);
  min-height: 100%;
}

section.max-width-wrapper {
  padding-top: 64px;
}

.card {
  background-color: hsla(0, 0%, 100%, 1);
  max-width: 800px;
  height: 312px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 24px 0;
  border-bottom: 8px solid hsla(0, 0%, 60%, 1);
}

.card > .indented-heading {
  max-width: 398px;
  min-height: 60px;
  background-color: hsla(45, 100%, 50%, 1);
  align-content: center;
  text-align: center;
  border-bottom: 8px solid hsla(45, 100%, 40%, 1);
  margin-left: -32px;
}

.card > p {
  font-size: 1.25rem;
}
